<p id="notice"><%= notice %></p>

<div class="wrapper">
      <h1 id="welcome_h1">You are welcome on YL`s blog</h1>
      <div class="container-blog">
      <div class="container-blog_pad">

        <% @posts.each do |post| %>
        <div class="block-blog">
          <div class="block-blog_pad">
            <div class="block-blog-icon">
             <%= image_tag post.image.url(:thumb) %>
            </div>
            <div class="block-text-blog_pad">


              


              <h2><%= link_to post.title , post  %></h2>
            <p><%= post.article.first(120) + " ..." %></p>
            <p id="author"><%= post.author %></p>
<<<<<<< HEAD
            <p><h6 style="margin:0;"><%= post.created_at.strftime("%c") %></h6></p> 
            <%= link_to 'Show', post %>
=======

            <p><%= link_to 'Show', post %>
>>>>>>> d66f4946e0c1525555144cb9781e70c5e3c7298b
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
           <h6><%= post.created_at.strftime("%c") %></h6></p>
          </div>
          </div>
        </div>
        <% end %>

        </div>
      </div>
</div>

<%= link_to 'New Post', new_post_path %>
<%= will_paginate @posts %>
