<div class="wrapper">
  <h1 id="welcome_h1">You are welcome on our library</h1>
  
  <div class="container-blog_pad">
  <div class="library_container">
  <div class="library_container_padding">
    <% @books.each do |book| %>
     
        <div class="book_name_for_download"><%= book.name %></div>

        <%= button_to 'Download', download_path(book.id) , :id => "button_download"%>
         <% if user_signed_in? %>
        <%= link_to 'Edit', edit_book_path(book) , :class => "button"%>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } , :class => "button delete_button" %>
        <% end %>
        <hr>
    <% end %>
  </div>
      </div>
      <% if user_signed_in? %>
      <%= link_to 'Add book', new_book_path , :class => "button" %>
      <% end %>
      <br>
      <br>
      <%= will_paginate @posts %>
</div>
</div>
</div>