<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>


  
    <% @books.each do |book| %>
     
        <%= book.name %>
        <%= book.document_file_name %>

        <%= button_to 'Download', download_path(book.id) %>
        <td><%= link_to 'Edit', edit_book_path(book) %>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>
 

<br>

<%= link_to 'New Book', new_book_path %>
