= form_for @about do |f|
  - if @about.errors.any?
    #error_explanation
      %h2= "#{pluralize(@about.errors.count, "error")} prohibited this about from being saved:"
      %ul
        - @about.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :biography
    = f.text_area :biography
  .actions
    = f.submit 'Save'
