<div class="wrapper">
    
<h1 id="welcome_h1">Some Information About Us</h1>
<div class="container-about">
  <div class="container-about_pad">

     <% @abouts.each do |about| %>
      <div class="block-about">
        <div class="block-about-icon">

        </div>
      <div class="block-text-about_pad">
         <h1> <%= about.name %> </h1>
        <p> <%= about.biography %> </p>
        <%= link_to 'Show', about %>
        <%= link_to 'Edit', edit_about_path(about) %>
        <%= link_to 'Destroy', about, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </div>
    </div>
        <% end %>

<p><%= link_to ' New About', new_about_path %></p>

</div>
</div>
</div>
