<p id="notice"><%= notice %></p>

<div class="wrapper">
      <h1 id="welcome_h1">You are welcome on YL`s blog</h1>
      <div class="container-blog">
      <div class="container-blog_pad">

        <% @posts.each do |post| %>
        <div class="block-blog">
          <div class="block-blog_pad">
            <div class="block-blog-icon">
             <%= image_tag post.image.url(:thumb) %>
            </div>
            <div class="block-text-blog_pad">

              <h2><%= link_to post.title , post  %></h2>
            <p><%= post.article.first(120) + " ..." %></p>
            <p id="author"><%= post.author %></p>
            <p><h6 style="margin:0;"><%= post.created_at.strftime("%A,%b %d") %></h6></p> 
            <div class="clear_float"></div>
          </div>
          </div>
        </div>
        <% end %>

        </div>
      </div>
      <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path , :class => "button" %>
      <% end %>
      <br>
      <br>
      <%= will_paginate @posts %>
</div>


