<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
			<%= image_tag @post.background_image.url(:back) %>
			<div class="article_container_padding">
  <h1><%= @post.title %></h1>
  <hr>
  <div class="show_article">
  <%= markdown @post.article %>
  </div>
  	<hr>
  <p id="author">by <%= @post.author %></p>

		<p><h6><%= @post.created_at.strftime("%c") %></h6></p>
		<% if user_signed_in? %>
			<%= link_to 'Edit', edit_post_path(@post), :class => "button" %> 
   			 <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } , :class => "button delete_button" %> 
   		<% end %>
		<%= link_to 'Back', posts_path , :id => "button_back"%>

	<%= render 'disqus' %>
	</div>
 </div>
</div>
