<!DOCTYPE html>
<html>
<head>
  <title>YL</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

<nav class="navigation">
	<div class="navigation_pad">
		<%= link_to "/" do %>
		<%= image_tag("logo.jpg",width: '35', height: '35', alt: '' , class: "image_logo_small") %>
		<% end %>
		

		<ul class="navigation_ul" >
			<li><%= link_to 'Blog' , posts_path %></li>
			<li><%= link_to 'Books' , books_path %></li>
			<li><a href="about.html">About</a></li>
			<li><%= link_to 'Contact' , new_contact_path %></li>
			<% if user_signed_in? %>
			<li><%= link_to  "Sign out"  , destroy_user_session_path , method: :delete %></li>
			<% end %>
		</ul>
	</div>
</nav>
<% if notice %>
<p class="notice"><%= notice %></p>
<% elsif alert %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<footer class="foot">
	2016  All Rights Reserved 
</footer>

</body>
</html>
